.title {
    font-weight: bold;
    font-size: 1.5em;
    color: #2e2e2e;
    padding: 0.5em;
}

#arc-pie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.input-number{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
