<header>
  <h1 class="title">Angular && D3</h1>
  <h2 class="sub-title">Exemplos de estudo do biblioteca D3.js</h2>
</header>

<!-- <app-stream-chart></app-stream-chart> -->
<!-- <app-stacks-component></app-stacks-component> -->
<!-- <app-symbol-generator></app-symbol-generator> -->
<!-- <app-links-and-layouts></app-links-and-layouts> -->
<!-- <app-arc-pie-generator></app-arc-pie-generator> -->
<!-- <app-area-generator></app-area-generator> -->
<!-- <app-line-generator></app-line-generator> -->
<!-- <app-simulation-challenge></app-simulation-challenge> -->
<!-- <app-nodes-end-links></app-nodes-end-links> -->
<!-- <app-bubble-char></app-bubble-char> -->
<!-- <app-animations-component></app-animations-component> -->
<!-- <app-axis-generator></app-axis-generator> -->
<!-- <app-covid-cases></app-covid-cases> -->
<!-- <app-scale-time></app-scale-time> -->
<!-- <app-diverging-scales></app-diverging-scales> -->
<!-- <app-scale-ordinal></app-scale-ordinal> -->
<!-- <app-scales></app-scales> -->
<!-- <app-slider-project></app-slider-project> -->
<!-- <app-event-handling></app-event-handling> -->
<!-- <app-dragging></app-dragging> -->
<!-- <app-data-vs-datum></app-data-vs-datum> -->
<!-- <app-histogran></app-histogran> -->
<!-- <app-statistical-functions></app-statistical-functions> -->
<!-- <app-text-on-path></app-text-on-path> -->
<!-- <app-smile></app-smile> -->
<!-- <app-text-elements></app-text-elements> -->
<!-- <app-apparences-atrrinutes></app-apparences-atrrinutes> -->
<!-- <app-paths></app-paths> -->
<!-- <app-shapes></app-shapes> -->
<!-- <app-bar></app-bar> -->
<!-- <app-pie></app-pie> -->
<app-scatter></app-scatter>