<header>
  <h1 class="title">Angular D3</h1>
  <h2 class="sub-title">Pequenos e simples exemplos de estudo do Framework D3.js</h2>
</header>

<app-scale-ordinal></app-scale-ordinal>
<!-- <app-scales></app-scales> -->
<!-- <app-slider-project></app-slider-project> -->
<!-- <app-event-handling></app-event-handling> -->
<!-- <app-dragging></app-dragging> -->
<!-- <app-data-vs-datum></app-data-vs-datum> -->
<!-- <app-histogran></app-histogran> -->
<!-- <app-statistical-functions></app-statistical-functions> -->
<!-- <app-text-on-path></app-text-on-path> -->
<!-- <app-smile></app-smile> -->
<!-- <app-text-elements></app-text-elements> -->
<!-- <app-apparences-atrrinutes></app-apparences-atrrinutes> -->
<!-- <app-paths></app-paths> -->
<!-- <app-shapes></app-shapes> -->
<!-- <app-bar></app-bar> -->
<!-- <app-pie></app-pie> -->
<!-- <app-scatter></app-scatter> -->