<app-nav-bar></app-nav-bar>
<app-header></app-header>
<!-- <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
      <mat-card class="example-card" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle>{{ item.id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </gridster-item>
</gridster> -->
<router-outlet></router-outlet>

<!-- <app-zoom></app-zoom> -->
<!-- <app-stream-chart></app-stream-chart> -->
<!-- <app-stacks-component></app-stacks-component> -->
<!-- <app-symbol-generator></app-symbol-generator> -->
<!-- <app-links-and-layouts></app-links-and-layouts> -->
<!-- <app-arc-pie-generator></app-arc-pie-generator> -->
<!-- <app-area-generator></app-area-generator> -->
<!-- <app-line-generator></app-line-generator> -->
<!-- <app-simulation-challenge></app-simulation-challenge> -->
<!-- <app-nodes-end-links></app-nodes-end-links> -->
<!-- <app-bubble-char></app-bubble-char> -->
<!-- <app-animations-component></app-animations-component> -->
<!-- <app-axis-generator></app-axis-generator> -->
<!-- <app-covid-cases></app-covid-cases> -->
<!-- <app-scale-time></app-scale-time> -->
<!-- <app-diverging-scales></app-diverging-scales> -->
<!-- <app-scale-ordinal></app-scale-ordinal> -->
<!-- <app-scales></app-scales> -->
<!-- <app-slider-project></app-slider-project> -->
<!-- <app-event-handling></app-event-handling> -->
<!-- <app-dragging></app-dragging> -->
<!-- <app-data-vs-datum></app-data-vs-datum> -->
<!-- <app-histogran></app-histogran> -->
<!-- <app-statistical-functions></app-statistical-functions> -->
<!-- <app-text-on-path></app-text-on-path> -->
<!-- <app-smile></app-smile> -->
<!-- <app-text-elements></app-text-elements> -->
<!-- <app-apparences-atrrinutes></app-apparences-atrrinutes> -->
<!-- <app-paths></app-paths> -->
<!-- <app-shapes></app-shapes> -->
<!-- <app-bar></app-bar> -->
<!-- <app-pie></app-pie> -->
<!-- <app-scatter></app-scatter> -->