<!-- <ng-container *ngIf="isLoading">
    <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="indeterminate"
        value="65">
    </mat-progress-spinner>
</ng-container> -->

<ng-container >
    <h1 class="title">
        Persons fully vaccinated in Americas
    </h1>

    <div id="tooltip">
        <div id="tooltip-text"></div>
    </div>

    <div id="select">
        <div id="select-option">
            <b>
                Select a region:
            </b>
        </div>
    </div>

    <div id="covid-cases"></div>
</ng-container>

